extends _layout

block title
	title Title of template

block content
	include includes/_sliders
	include includes/_btn
	include includes/_a
	

	include includes/_header
	
	div.wrapp-price-page
		section.title-logo_quarter
			div.logo_quarter
				img(src='img/kedr_logo.png' alt='Кедровый квартал')
		nav.title-breadcrumbs
			ul.breadcrumbs
				li 
					a(href='#') Главная /

		section.title-price_contact
			div.wrapp_price_contact.__margin-20
				h3 Цены и условия
				p Уважаемые клиенты, подробную информацию о стоимости, наличии квартир и условиях покупки вы можете узнать по телефонам колл-центра:
				ul
					li +375 29 300-00-00 
					li +375 29 1-328-328
					li +375 29 555-000-0
		section.title-price_house
			mixin house
				a(href='#').house
					h4.house-title Дом 6
					p.house-descript.no_margin (9.6 по генплану), 19 этажей
					p.house-descript Срок сдачи: сдан в 1 квартале 2016 
					img(src="img/slide2.jpg" alt="alt")
					+a('btn-green btn-uppercase btn-center', 'подобрать по параметрам')
			div.wrapp-house.__margin-20.wrapp-house_price
				+house
				+house
				+house
		section.wrapp-banks
			div.accordion.banks
				div.accordion-item
					div.slow-drop.js-drop
						span.read-other.read-other_black Бпс-банк
						<svg class='read-svg-arrow' version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 129 129"><path d="m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z"/></svg>
					div.read-other__close.js-drop-content
						mixin loyalty(name,link,sale,note)
							li
								a(href=link target='_blank')
									div
										p #{name}
										a.links(href=link target='_blank') #{link}
									div
										p #{sale}
										p.note #{note}
						div.wrapp_loyalty_list
							h4 Список участников
							ul
								+loyalty('Кухни Зов','www.zov-minsk.by','5%','(Скидка суммируется с другими скидками продавца)')
								+loyalty('Папа карло (мебель своими руками и ногами)','www.papakarlo.by','15%-20%','')
								+loyalty('Кухни Зов','www.zov-minsk.by','5%','')
		include includes/_link_back
	include includes/_footer
	
	include includes/_menu
	include includes/_modal



	







